.sidebar__container {
    display: none;
}

@media screen and (min-width: 950px) {

    .sidebar__container {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        height: 100vh;
        flex-direction: column;
        margin-left: 2em;
        position: fixed;
    }

    .sidebar__container img {
        margin-bottom: 1em;
        width: 3em;
    }

    .linha__vertical {
        height: 16em;
        border-right: 0.2em solid var(--amarelo);
    }

    .sidebar__container img:hover {
        transform: translateY(-10px);
        transition: all 1s;
    }

}