:root {
    --cor-de-fundo: #404348;
    --amarelo: #FFB81D;
    --bege: #C89C76;
    --cinza: #EFECEC;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}